<div class="container-md border border-black">
	<div class="row align-items-center p-4">
		<div class="col-10">
			<h2>Habilidades</h2>
		</div>
		<div class="col-2 text-center align-items-baseline" *ngIf="loggedIn">
			<app-add-button *ngIf="loggedIn && canEdit || loggedIn && userId == 1" [addForm]="addForm" (addClick)="toggleAddForm()" ></app-add-button>
		</div>
	</div>
	<div *ngIf="addForm">
		<app-skill-form 
			 [isEdit]="false"
			(newSkill)="newSkill($event, profileId)">
		</app-skill-form>
	</div>
	<div *ngFor="let s of skillList">
		<app-skill-item [skill]="s" 
			(onEdit)="toggleEditForm($event)" 
			 [canEdit]="canEdit"
			 	[userId]="userId"
			*ngIf="!editingList.includes(s.id)">
		</app-skill-item>

		<app-skill-form [isEdit]="true" 
			*ngIf="editingList.includes(s.id)" 
			[editedSkill]="s" 
			(editClick)="toggleEditForm($event)" 
			(onEdit)="editSkill($event, s.id)" 
			(onDelete)="deleteSkill($event)"></app-skill-form>
	</div>
</div>
