<div class="container-md  border border-black">
	<div class="row align-items-center p-4">
		<div class="col-10">
			<h2>Proyectos</h2>
		</div>
		<div class="col-2 text-center align-items-baseline" *ngIf="loggedIn">
			<app-add-button *ngIf="loggedIn && canEdit || loggedIn && userId == 13" [addForm]="addForm" (addClick)="toggleAddForm()" ></app-add-button>
		</div>
	</div>
	<div *ngIf="addForm">
		<app-project-form 
			 [isEdit]="false"
			(newProject)="newProject($event, profileId)">
		</app-project-form>
	</div>
	<div class="card-group m-2 justify-content-center">
		<div *ngFor="let p of projectList">
			<app-project-item [project]="p" 
				(onEdit)="toggleEditForm($event)" 
				 [canEdit]="canEdit"
			 	[userId]="userId"
				*ngIf="!editingList.includes(p.id)">
			</app-project-item>
		
			<app-project-form [isEdit]="true" 
				*ngIf="editingList.includes(p.id)" 
				[editedProject]="p" 
				(editClick)="toggleEditForm($event)" 
				(onEdit)="editProject($event, p.id)" 
				(onDelete)="deleteProject($event)">
			</app-project-form>
	</div>
	</div>
</div>
