<form  [formGroup]="projectForm" (ngSubmit)="onSubmit()">

	<div class="row">
		<div class="col-md">
			<div class="form-floating mb-2 mt-3">
				<input class="form-control" id="name" type="text" placeholder="Nombre" required formControlName="name">
				<label for="name">Título</label>
				<div *ngIf="(name?.dirty || name?.touched)">
					<div *ngIf="name?.invalid" class="alert alert-danger">
						Completar.
					</div>
				</div>
			</div>
		</div>

		<div class="col-md">
			<div class="form-floating mb-2 mt-3">
				<input class="form-control" id="repoUrl"  maxlength="250" type="text" placeholder="Url de repositorio" required formControlName="repoUrl">
				<label for="repoUrl">Url de repositorio</label>
				<div *ngIf="(repoUrl?.dirty || repoUrl?.touched)">
					<div *ngIf="repoUrl?.invalid" class="alert alert-danger">
						Completar.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-floating mb-2">
		<textarea class="form-control" id="description" style="height: 7em" maxlength="250" placeholder="Descripción" formControlName="description">
		</textarea>
		<label for="description">Descripción</label>
		<div *ngIf="(description?.dirty || description?.touched)">
			<div *ngIf="description?.invalid" class="alert alert-danger">
				Completar.
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md">
			<div class="mb-2 mt-3" formArrayName="technologies">
				<button class="btn btn-info mb-2" (click)="addTechnology()" type="button">
					Agregar tecnología
				</button>
				<div *ngFor="let t of technologies.controls; let i=index" class="mb-2 ">
					<div class="row">
						<div class="col-md ">
							<div class="form-floating">
								<input class="form-control" id="t-{{i}}" type="text" placeholder="Tecnología" [formControlName]="i">
								<label for="t-{{i}}">Tech {{i + 1}}</label>
							</div>
						</div>

						<div class="col-md">
							<button class="btn btn-secondary mb-2" (click)="removeTechnology(i)" type="button">Eliminar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<div formGroupName="image">
		<h5>Imagen</h5>
		<div class="row">
			<div class="col-6">
				<div class="form-floating mb-2">
					<input class="form-control" id="name" placeholder="Título de la imagen" formControlName="name">
					<label for="name">Título de la imagen</label>
				</div>
			</div>

			<div class="col-6">
				<div class="form-floating mb-2">
					<input class="form-control" id="altText" placeholder="Descripción" formControlName="altText">
					<label for="altText">Descripción</label>
				</div>
			</div>
		</div>
		<div class="form-floating mb-2">
			<input type="url"class="form-control" id="url"  maxlength="250" placeholder="Url de imagen" formControlName="url">
			<label for="url">Url de imagen</label>
		</div>
	</div>

	<button type="submit" 
			[disabled]="!projectForm.valid" class="btn m-2" 
											[ngClass]="projectForm.valid ? 'btn-primary' : 'btn-error'">
		OK
	</button>

	<app-edit-button 
											[isDisabled]="projectForm.status == 'DISABLED'"
											[editForm]="true" 
											*ngIf="isEdit" 
											(editClick)="stopEdit()">
	</app-edit-button>

	<app-del-button 
											(deleteItem)="deleteProject()" 
											*ngIf="isEdit">
	</app-del-button>
</form>
