<div class="container-md">
	<div class="row align-items-center">
		<div class="col-10">
			<h2>Formación</h2>
		</div>
		<div class="col-2 text-center align-items-baseline" *ngIf="loggedIn">
			<app-add-button *ngIf="loggedIn && canEdit" [addForm]="addForm" (addClick)="toggleAddForm()" ></app-add-button>
		</div>
	</div>
	<div *ngIf="addForm">
		<app-education-form 
			 [isEdit]="false"
			(newEducation)="newEducation($event, profileId)">
		</app-education-form>
	</div>
	<div *ngFor="let e of educationList">
		<app-education-item [education]="e" 
			(onEdit)="toggleEditForm($event)" 
			 [canEdit]="canEdit"
			*ngIf="!editingList.includes(e.id)">
		</app-education-item>

		<app-education-form [isEdit]="true" 
			*ngIf="editingList.includes(e.id)" 
			[editedEducation]="e" 
			(editClick)="toggleEditForm($event)" 
			(onEdit)="editEducation($event, e.id)" 
			(onDelete)="deleteEducation($event)"></app-education-form>
	</div>
</div>
