<div class="container-md ">
	<div class="card" style="margin-top:50px"> 
		<div class="card-text p-5">
			<h3><b>Aplicación realizada por Diego González Prieto para el curso Argentina Programa.</b></h3>
			<p>Tecnologías utilizadas:</p>
			<ul>
				<li>Java Spring Boot </li>
				<li>Angular</li>
				<li>MySQL</li>
			</ul>
			<p>Despliegue</p>
			<ul>
				<li>BackEnd: Heroku</li>
				<li>FrontEnd: Firebase</li>
				<li>Database: Clever-Cloud</li>
			</ul>
			<a href="https://github.com/DiegoGonzalezPrieto/portfolio-front_end" class="btn btn-link">Frontend</a><br>
			<a href="https://github.com/DiegoGonzalezPrieto/portfolio-back_end" class="btn btn-link">Backend</a>
		</div>
	</div>
</div>
