<form  [formGroup]="personForm" (ngSubmit)="onSubmit()">
	<h4 class="mt-2">Modificar datos personles</h4>

	<div class="row">
		<div class="col-6">
			<div class="form-floating mt-3">
				<input class="form-control" id="firstName" type="text" placeholder="Nombre" required formControlName="firstName">
				<label for="firstName">Nombre</label>
				<div *ngIf="(firstName?.dirty || firstName?.touched)">
					<div *ngIf="firstName?.invalid" class="alert alert-danger">
						Completar.
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="form-floating mt-3">
				<input class="form-control" id="lastName" type="text" placeholder="Apellido" formControlName="lastName">
				<label for="lastName">Apellido</label>
				<div *ngIf="(lastName?.dirty || lastName?.touched)">
					<div *ngIf="lastName?.invalid" class="alert alert-danger">
						Completar.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<div class="row h-25 ">
				<div class="col">
					<div class="form-floating mt-3">
						<input class="form-control" id="jobTitle" type="text" placeholder="Puesto" formControlName="jobTitle">
						<label for="jobTitle">Puesto</label>
						<div *ngIf="(jobTitle?.dirty || jobTitle?.touched)">
							<div *ngIf="jobTitle?.invalid" class="alert alert-danger">
								Completar.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="border rounded p-2 mt-3">
				<h5 >Ubicación</h5>
				<div formGroupName="city" class="h-50">

							<div class="form-floating mb-2 mt-3">
								<input class="form-control" id="cityName" type="text" placeholder="Ciudad" formControlName="cityName">
								<label for="cityName">Ciudad</label>
								<div *ngIf="(cityName?.dirty || cityName?.touched)">
									<div *ngIf="cityName?.invalid" class="alert alert-danger">
										Completar.
									</div>
						</div>
					</div>
							<div class="form-floating mb-2 ">
								<input class="form-control" id="countryName" type="text" placeholder="País" formControlName="countryName">
								<label for="countryName">País</label>
								<div *ngIf="(countryName?.dirty || countryName?.touched)">
									<div *ngIf="countryName?.invalid" class="alert alert-danger">
										Completar.
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>



		<div class="col-8">
			<div class="form-floating mb-2 mt-3"  style="height:262px">
				<textarea class="form-control" id="briefCv" placeholder="Resumen profesional" style="height: 7em" maxlength="250"formControlName="briefCv" ></textarea>
				<label for="briefCv">Resumen profesional</label>
				<div *ngIf="(briefCv?.dirty || briefCv?.touched)">
					<div *ngIf="briefCv?.invalid" class="alert alert-danger">
						Completar.
					</div>
				</div>
			</div>
</div>
	</div>



		<div formGroupName="profPic">
			<h5>Foto de perfil</h5>
			<div class="row">
				<div class="col-6">
					<div class="form-floating mb-2">
						<input class="form-control" id="name" placeholder="Título de la imagen" formControlName="name">
						<label for="name">Título de la imagen</label>
					</div>
				</div>

				<div class="col-6">
					<div class="form-floating mb-2">
						<input class="form-control" id="altText" placeholder="Descripción" formControlName="altText">
						<label for="altText">Descripción</label>
					</div>
				</div>
			</div>
			<div class="form-floating mb-2">
				<input type="url" class="form-control" id="url"  maxlength="250" placeholder="Url de imagen" formControlName="url">
				<label for="url">Url de imagen</label>
			</div>
		</div>

		<hr>

		<div formGroupName="backPic">
			<h5>Foto de fondo</h5>
			<div class="row">
				<div class="col-6">
					<div class="form-floating mb-2">
						<input class="form-control" id="name" placeholder="Título de la imagen" formControlName="name">
						<label for="name">Título de la imagen</label>
					</div>
				</div>

				<div class="col-6">
					<div class="form-floating mb-2">
						<input class="form-control" id="altText" placeholder="Descripción" formControlName="altText">
						<label for="altText">Descripción</label>
					</div>
				</div>
			</div>
			<div class="form-floating mb-2">
				<input type="url" class="form-control" id="url"  maxlength="250" placeholder="Url de imagen" formControlName="url">
				<label for="url">Url de imagen</label>
			</div>
		</div>
		<button type="submit" 
				[disabled]="!personForm.valid" class="btn m-2" 
												[ngClass]="personForm.valid ? 'btn-primary' : 'btn-error'">
			OK
		</button>

			<app-edit-button [editForm]="true" (editClick)="stopEdit()" [isDisabled]="personForm.status == 'DISABLED'" ></app-edit-button>
</form>
