<div class="card m-2" style="max-width: 390px">
	<img *ngIf="img" class="card-img-top" style="max-height:200px"  [src]="img.url" [alt]="img.altText" [name]="img.name"> 
	<div class="card-body">
		<h5 class="card-title "><a [href]="project.repoUrl" class="text-dark">{{project.name}}</a></h5>
		<p class="card-text"  [innerText]="project.description"></p>
		<p class="card-text" >
		<u>Tecnologías utilzadas:</u> <br> <span *ngFor="let t of project.technologies" style="margin-right: 5px;"> {{t}} /</span>
		</p>

		<div *ngIf="loggedIn" class="card-body">
			<app-edit-button *ngIf="loggedIn && canEdit || loggedIn && userId == 1" [editForm]="editing" (editClick)="toggleEdit()"></app-edit-button>
		</div>
	</div>
</div>
